body {
  font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
  display: block;
  background-color: #3b3f45;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

header {
  text-align: center;
  padding-top: 19px;
  padding-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding-top: 4px;
}

.container {
  margin: auto;
  max-width: 1170px;
  padding-top: 20px;
  padding-bottom: 45px;
}

form {

  :hover {
    cursor: url(cursor-icon.svg), auto;
  }
}

.menu-item {
  width: 534px;
  height: 45px;
  color: #FFFFFF;
  margin: auto;
}

.menu-item:hover {
  background-color: #7A7593;
  border-top: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  transition: all .1s ease-in;
}

.menu-item:active {
  background-color: red;
  transition: all .1s ease-in;
}

input[type="checkbox"]+label {
  display: flex;
}

input[type="checkbox"]:checked+label {
  color: #9B96AC;
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
  width: 19px;
  height: 19px;
  margin: 12px 16px 0 12px;
}

input[type="checkbox"]+label::before {
  display: none;
  content: url(checklist-empty.svg);
  display: flex;
  margin: 12px 16px 0 12px;
}

input[type="checkbox"]:checked+label::before {
  display: none;
  content: url(checklist.svg);
  margin: 12px 16px 0 12px;
  display: flex;
}

.odd {
  background-color: #88839E;
}

.even {
  background-color: #625E77;
}

.first-text {
  font-size: 18px;
  padding-right: 3px;
  margin-top: 11px;
}

.second-text {
  font-size: 11px;
  margin-top: 16px;
}

.second-text::before {
  content: '(';
}

.second-text::after {
  content: ')';
}

.list-name {
  color: #ff8984;
  background-color: #4a4f56;
}

footer {
  width: 534px;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}